body {
  width: 80vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin: 0 auto;
}
.text_bold {
  font-size: 3rem;
}
body::before {
  background: url("images/bg-desktop.png");
  background-repeat: no-repeat;
  top: 48rem;
}

.main__section {
  margin: auto 3rem 0 auto;
  align-items: flex-end;
  max-width: 90%;
}
.main__bottom__section {
  margin-right: 35%;
}

.section__two {
  text-align: start;
  margin: auto 0 0 0;
  width: 100%;
  max-width: 100%;
  height: 25%;
}

.section__two__text {
  margin-left: 10%;
}
.attribution {
  grid-column: 1/3;
}
.section__two__popup {
  height: fit-content;
  margin: 0 0 0 55%;
  top: -18rem;
}

.section__two__popup p:after {
  content: "";
  position: absolute;
  bottom: -2.1rem;
  width: 0;
  height: 0;
  border-top: 4rem solid #f1f1f1;
  border-left: 4rem solid transparent;
  right: 0px;
}
